body {
    font-family: 'Almendra SC', serif;
    background-color: rgb(240, 237, 227);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    border: none;          /* Removes any border */
    background: transparent; /* Makes the background transparent */
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'MedievalSharp', cursive;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Almendra SC', serif;
}

button:hover {
    background-color: #0056b3;
    font-family: 'Almendra SC', serif;
}

#diceCount {
    width: 50%;
    margin: 10px auto; /* This centers the input box */
}
#rollLog li {
    display: block;  /* This ensures each log entry takes up a full line */
    margin-bottom: 5px;  /* Optional: adds a little space between each log entry */
}
#websiteLogo {

    width: 60%;  /* Adjust as needed, maybe you'd prefer a max-width */
    height: auto; /* Keeps the image aspect ratio */
    display: center;
    margin: 20px 0; /* Adds some space above and below the logo */
}

select {
    font-family: 'Almendra SC', serif;
}


.wrapper {
    display: block;  /* This changes the layout from flex to block */
}

.log {
    height: 340px;  /* Adjust this value based on your design needs */
    overflow-y: auto;  /* Allows the log to scroll when there are more entries */
    max-width: 100%;  /* Allow the log to take the full width */
    margin-right: 0;  /* Remove the margin that was previously separating it from the container */
    margin-top: 20px; /* Add some space above the log for separation from the container */
}

.hamburger-menu {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hamburger-icon {
    font-size: 24px;
    cursor: pointer;
}

.menu-items {
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-items a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.menu-items a:last-child {
    border-bottom: none;
}

.menu-items a:hover {
    background-color: #f6f6f6;
}
.button-group {
    display: flex;           /* Display children in a row */
    justify-content: space-between; /* Space the buttons equally */
    gap: 10px;               /* Add a gap between the buttons */
}

#histogramContainer {
    display: flex;
    align-items: flex-end;  /* This will anchor the bars to the bottom of the container */
    gap: 2px;
    height: 150px;  /* Adjust as needed */
    border-bottom: 1px solid black;
    margin-top: 20px;
}

.histogram-bar {
    flex: 1;
    background-color: #007BFF;
    transition: background-color 0.3s;
}

.histogram-bar:hover {
    background-color: #0056b3;
}

#dicePoolList {
    list-style-type: none;
    padding-left: 0;  /* This will remove the default padding of the unordered list */
}
