/* Global Styles */
body {
    font-family: 'Almendra SC', serif;
    background-color: rgb(240, 237, 227);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Main Container Styling */
.container {
    padding: 20px;
    width: 700px;
    border: none;  /* Removes any border */
    border-radius: 8px;
    background: transparent;  /* Makes the background transparent */
    text-align: center;
}

/* Headings */
h1 {
    color: #333;
    margin-top: 0;
}

/* Input Fields */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background: #FAEBD7;
    border-radius: 4px;
    font-family: 'Almendra SC', cursive;
}

/* Buttons */
.button {
    background: #FAEBD7;
    border: 1px solid #DEB887;
    border-radius: 5px;
    color: #8B4513;
    font-family: 'Almendra SC', serif;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background: #FFE4B5;
    transform: translateY(-2px);
}


/* Dice Count Input Styling */
#diceCount {
    width: 50%;
    margin: 10px auto;  /* Centers the input box */
}

/* Roll Log List Styling */
#rollLog li {
    display: block;  /* Each log entry takes up a full line */
    margin-bottom: 5px;  /* Adds a little space between each log entry */
}

/* Logo Styling */
#websiteLogo {
    width: 70%;  /* Adjust width as needed */
    height: auto;  /* Keeps the image aspect ratio */
    /* Adds space above and below the logo */
    margin: 100px 20px 20px;
}

/* Dropdown Styling */
select {
    font-family: 'Almendra SC', serif;
    background: #FAEBD7;
    border: 1px solid #DEB887;
    border-radius: 5px;
    color: #8B4513;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/* Log Container Styling */
.log {
    height: 340px;
    overflow-y: auto;  /* Allows scrolling for more entries */
    max-width: 100%;
    margin-right: 0;
    margin-top: 20px;
}

/* Hamburger Menu Styling */
.hamburger-menu {
    position: absolute;
    top: 10px;
    left: 10px;
}
.hamburger-icon {
    font-size: 24px;
    cursor: pointer;
}
.menu-items {
    display: none;
    border: 1px solid #DEB887;
    border-radius: 1px;
    color: #8B4513;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu-items a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
}
.menu-items a:last-child {
    border-bottom: none;
}
.menu-items a:hover {
    background: #FFE4B5;
    transform: translateY(-2px);
}

/* Button Group Styling */
.button-group {
    display: flex;
    justify-content: space-between;  /* Space buttons equally */
    gap: 10px;
}

/* Histogram Styling */
#histogramContainer {
    display: flex;
    align-items: flex-end;  /* Anchor bars to the bottom */
    gap: 2px;
    height: 150px;
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.histogram-bar {
    flex: 1;
    background-color: #007BFF;
    transition: background-color 0.3s;
}
.histogram-bar:hover {
    background-color: #0056b3;
}

/* Dice Pool List Styling */
#dicePoolList {
    list-style-type: none;  /* Removes bullet points */
    padding-left: 0;  /* Removes default padding */
}
